* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100%;
    
}

p {
    padding: 10px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.search {
    width: 30%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    
}

button {
    width: 100%;
    height: 40px;
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    box-sizing: content-box;
    margin-top: 20px;
    text-align: center;
}

.search input {
    
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.info {
    margin-bottom: 1em;
    
}

.results {
    table-layout: fixed;
    width: 100%;
    overflow-x: scroll;
}

.radio {
    display: none;
}

.graph {
    margin-bottom: 1em;
    width: 90%;
    
    max-width: 800px;
    max-height: 400px;
    position: relative;
}

footer {
    bottom: 0;
    height: 20px;
    
    width: 100%;
    position: absolute;
}

td, th {
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    width: 7rem;
    
}

th {
    background-color: lightslategray;
    
    
    
}

table {
    width: 815px;
    min-width: 815px;
    overflow-x: scroll;
    border-collapse: collapse;
    display: block;
    height: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    margin: 0 auto;

}

tbody {
    display: inline-block;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    
}

thead {
    display: table;
    
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

tr {
    display: block;
    width: 100%;
    background-color: white;
}

tr:nth-of-type(odd) { 
    background-color: #eee; 
  }
